{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .edit-profile-container {
            max-width: 400px;
            margin: 5em auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: center;
        }

        .edit-profile-container h2 {
            margin-bottom: 20px;
        }

        .edit-profile-container form {
            margin-bottom: 20px;
        }

        .edit-profile-container form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .edit-profile-container form input[type="text"],
        .edit-profile-container form input[type="email"],
        .edit-profile-container form input[type="url"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .edit-profile-container form button.edit-btn {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .edit-profile-container form button.edit-btn:hover {
            background-color: #0056b3;
        }
    </style>

<body class="sub_page">
    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        <form action="{% url 'profile_edit' pk=object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="edit-btn" type="submit">Edit</button>
        </form>
    </div>
</body>
{% endblock %}
