{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: white;
        }
        .profile-container {
            max-width: 25em;
            margin: 5em auto;
            padding: 2em;
            border: 1px solid #ccc;
            border-radius: 0.3em;
            background-color: #f9f9f9;
            text-align: center;
        }

        .profile-container h1 {
            margin-bottom: 1em;
        }

        .profile-container img {
            width: 10em;
            height: 10em;
            border-radius: 50%;
            margin-bottom: 2em;
        }

        .profile-container h2 {
            margin-bottom: 1em;
            font-size: 1.5em;
        }

        .profile-container p {
            margin-bottom: 1.5em;
        }

        .edit-profile-button a {
            background-color: #007bff;
            color: black;
            border: none;
            border-radius: 0.3em;
            padding: 0.7em 1.5em;
            font-size: 1em;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .edit-profile-button a:hover {
            background-color: red;
        }

        footer {
            position: fixed;
            bottom: 0;
        }
    </style>

<body class="sub_page">
    <div class="profile-container">
        <h1>{{ object.full_name }}</h1>
        {% if object.profile_picture %}
            <div class="img-box">
                <img src="{{ object.profile_picture }}" alt="profile-image" />
            </div>
        {% else %}
            <div class="img-box">
                <img src="{% static 'images/no_profile.jfif' %}" alt="">
            </div>
        {% endif %}
        <h2>{{ object.user.email }}</h2>
        <h2>Your bookings: {{ bookings }}</h2>
        <p>Do you want to delete or edit your profile?</p>
        <div class="edit-profile-button">
            <a href="{% url 'profile_delete' pk=object.pk %}">Delete</a>
            <a href="{% url 'profile_edit' pk=object.pk %}">Edit</a>
        </div>
    </div>
</body>
{% endblock %}