{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

        .edit-profile-container {
            max-width: 25em;
            margin: 3em auto;
            padding: 2em;
            border: 1px solid #ccc;
            border-radius: 0.3em;
            background-color: #f9f9f9;
            text-align: center;
        }

        .edit-profile-container h2 {
            margin-bottom: 0.5em;
        }

        .edit-profile-container form {
            margin-bottom: 0.5em;
        }

        .edit-profile-container form label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .edit-profile-container form input[type="text"],
        .edit-profile-container form input[type="email"],
        .edit-profile-container form input[type="url"] {
            width: 100%;
            padding: 0.7em;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 0.3em;
            margin-bottom: 0.7em;
        }

        .edit-profile-container form button.edit-btn {
            width: 100%;
            padding: 0.7em;
            font-size: 1em;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .edit-profile-container form button.edit-btn:hover {
            background-color: #0056b3;
        }
        footer {
            position: fixed;
            bottom: 0;
        }
    </style>

    <body class="sub_page">
        <div class="edit-profile-container">
            <h2>Edit Profile</h2>
            <form action="{% url 'profile_edit' pk=object.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="edit-btn" type="submit">Edit</button>
            </form>
        </div>
    </body>
{% endblock %}
