{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .login-container {
            max-width: 25em;
            margin: 5em auto;
            padding: 2em;
            border: 1px solid #ccc;
            border-radius: 0.3em;
            background-color: #f9f9f9;
            text-align: center;
        }

        .car-image {
            width: 100%;
            margin-bottom: 0.6em;
            border-radius: 0.3em;
        }

        .login-container h2 {
            margin-bottom: 0.7em;
            text-align: center;
        }

        .form-group {
            margin-bottom: 1.2em;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 0.7em;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 0.3em;
        }

        button[type="submit"] {
            width: 100%;
            padding: 0.8em;
            font-size: 1em;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        p {
            text-align: center;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

<body class="sub_page">
    <div class="login-container">
        <img src="{% static 'images/about-img.png' %}" alt="Car Rental Image" class="car-image">
        <h2>Login</h2>
        <form action="{% url 'login' %}?next={{ next }}" method="post">
            <div class="form-group">
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            {% csrf_token %}
        </form>
    </div>
</body>

{% endblock %}