{% extends 'base.html' %}

{% block content %}
    <style>
        .container {
            max-width: 80%;
            justify-content: center;
            margin: 7em auto;
            padding: 0.1em;
            border: 1px solid #ccc;
            border-radius: 1em;
            background-color: #f9f9f9;
            text-align: center;
        }

        .car-details {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            margin-top: 0.8em;
            gap: 5em;
        }

        .car-image {
            margin-right: 1.25em;
        }

        .car-image img {
            max-width: 40em;
            flex-basis: 10%;
            max-height: 40vh;
            {#height: 40vh;#}
        }

        .car-specs {
            flex-basis: 20%;
            text-align: left;
        }

        .car-specs h2 {
            font-size: 2em;
            color: #333;
            margin-bottom: 0.3em;
            padding: 1em;
        }

        .car-specs ul {
            list-style-type: none;
            padding: 1em;
        }

        .car-specs ul li {
            font-size: 1.2em;
            color: #666;
            margin-bottom: 0.5em;
        }
        .images-inside {
            margin-bottom: -10em;
            margin-top: 3em;
        }
        .price {
            display: flex;
            justify-content: center;
            gap: 1em;
            font-size: 1.5em;
            color: #fff;
            padding: 0.3em 0.8em;
            text-decoration: none;

        }

        .price a:hover {
            background-color: #ff8c00;
            text-decoration: none;
        }

        .price a {
            background-color: #ccc;
            padding: 0.2em;
            border: 1px solid black;
            border-radius: 0.3em;
            color: black;
            text-decoration: none;
        }
        @media (max-width: 768px) {
            .car-image img {
                max-width: 15em;
            }
        }

    </style>


    <body class="sub_page">
        <div class="container">
            <div class="car-details">
                <div class="car-image">
                    <img src="{{ object.image }}" alt="{{ object.make }} {{ object.model }}">
                </div>
                <div class="car-specs">
                    <h2>{{ object.make }} {{ object.model }}</h2>
                    <ul>
                        <li><strong>Year:</strong> {{ object.year }}</li>
                        <li><strong>Price per day:</strong> ${{ object.price_per_day }}</li>
                        <li><strong>Type of fuel:</strong> {{ object.type_of_fuel }}</li>
                        <li><strong>Fuel consumption:</strong> {{ object.fuel_consumption }}</li>
                        <li><strong>Transmission:</strong> {{ object.transmission }}</li>
                    </ul>
                </div>

            </div>
            <div class="images-inside">
                <h2>More images from inside the car</h2>
            </div>
            <section class="blog_section layout_padding">

                <div class="blog_container">
                  <div class="layout_padding2-top">
                    <div class="carousel-wrap ">
                      <div class="owl-carousel">

                        {% for image in object.images.all %}
                            <div class="item">
                              <div class="box">

                                <div class="img-box">

                                  <img src="{{ image.image_url }}" style="height: 40vh;" alt="">
                                </div>

                              </div>
                            </div>

                        {% endfor %}

                      </div>
                    </div>

                  </div>
                </div>
            </section>
            <div class="price">
                  {% if user.is_authenticated %}
                    <a href="{% url 'book_car' pk=object.pk %}">
                        Rent {{ object.price_per_day }}$
                    </a>
                  {% else %}
                    <a href="{% url 'login' %}">
                        Rent {{ object.price_per_day }}$
                    </a>

                  {% endif %}
                  <a href="{% url 'cars' %}">
                        Return to cars
                  </a>
            </div>
        </div>
    </body>
{% endblock %}
